<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OK</title>
</head>
<body>
   <h2>Whatever it was, it ended ok :)</h2>
   <p th:text="${nullcount}"></p>
</body>
</html>